*{
    box-sizing: border-box;
}

body{
    /* background-color: crimson; */
    background-image: linear-gradient(to bottom right, red, yellow);
    font-family: 'Ubuntu', sans-serif;
}



.heading1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 600;
    color: white;
}

#imagii{
    margin-right: 2%;
}

.heaading2{
    text-align:center;
    padding-top: 10px;
    margin-top: 3%;
    margin-bottom: 5%;
    font-weight: 500;
}

.rform{
    
    width: 70%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 4.2s;
    
}

.input{
    margin-top: 1%;
    margin-left: 5%;
    display: block;
    width: 90%;
}

.Gender, .skills{
    margin-left: 5%;
    
}

.Gen, .Skills{
    margin-left: 8%;
}

.email{
    margin-top: 4%;
}

.file{
    margin-top: 1%;
    margin-left: 5%;
}

.sk{
    margin-bottom: 3%;
}

.button{
    
    margin-left: 30%;
    margin-bottom: 2%;
}

.button1{
    margin-left: 2%;
    margin-bottom: 2%;
}

/***************** Second Section ****************/
/********** 16px = 100% = 1 rem = 1 em ***********/

/* .secsection{
    padding-top: 4%;
}*/

.box{
    border: 1px;
    margin:auto;
    margin-top: 3.5%;
    width: 60%;
    height: 40%;
    border-radius: 25px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
    
}

.imagi{
    margin-top: 5px;
    height: 900%;
    width: 100%;
    /* margin-left: 5%; */
    

}

.divrow{
    height: 4.5rem;
    margin: auto;
    /* margin-left: 0;
    margin-right: 0; */
}

p{
    margin-top: 2%;
    margin-left: 5%;
}

.cross{
    /* position: absolute; */
    /* top: 2px; */
    /* right: 10px; */
    display: inline-block;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 0;
    
    margin-left: 95%;
    width: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
    
    
    
}

.cross:hover{
    background-color: red;
}

.box:hover{
    transition: 1.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media screen and (max-width:990px){
    
    
    .rform{
        width: 50%;
    }
    
    
    .box{
        margin-top: 50px;
        height: 262px;

    }

    .imagi{
        height: 212px;
    }

    .secsection{
        padding-bottom: 15px;
    }
    
}