body{
  width: 300px;
  height: 300px;
  background-color: #F0D290;
  display: flex;
  justify-content: center;
}

p{
  display: inline-flex;
  margin: auto;
  font-size: 20px;
  color: purple;
  padding: 10px;
}
