.skills {
    background-color: rgb(243, 241, 241);
}

.cards-main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 1em;    
    padding: 20px 10px;
}

.card{ 
    background-color: #fff;   
    padding: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(.98);
}

.card:hover {
    transform: scale(1.02);
}

.img-card{
    height: 144px;
    width: 144px;
}