
/*header{
    font-size: 100px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: -14%;
    margin-bottom: -5%;
    font-style: italic;
    color:darkblue;
    background-image: url('https://th.bing.com/th/id/OIP.rirVsDAPHY-ihiwU8qRM5AHaEK?w=307&h=180&c=7&r=0&o=5&dpr=1.35&pid=1.7');
    background-size: 100% 150%;
    background-repeat: no-repeat;
}*/

header{
    margin: 0; padding: 2em 5em 4em; color: #efefef;
    overflow:hidden;
    position: relative;
  }
  
  header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    transform: skewY(-4deg);
    background: #323b40;
    transform-origin: bottom left;
    z-index: -1;
  }
.box{
    padding-left: 50px;
}
img{
    margin-bottom: 86px;
    margin-right: 67px;
    display: block;
    float: left;
    height: 300px;
    width: 300px;
    box-shadow: 2px grey;
   border: 1rem solid ;

}
img:hover{
    margin-left: 10px;
    transform: scale(1.43,1.43);
    transition-duration: 180ms;
   /* box-shadow: 8px 8px 2px 1px rgba(32, 29, 29, 0.911);
    border: none;*/
    border: thick double black;
    
}

body {
    background-image: url('https://th.bing.com/th/id/OIP.x7GSDa7jJ_9kWRzlPJ6FUAHaDt?w=285&h=175&c=7&r=0&o=5&dpr=1.35&pid=1.7');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  footer{
      margin-top: 1210px;
      position:bottom;
      padding: 25px;
      color: #efefef;
      background-color: #323b40;
  }