.post {
    background-color: white;
    max-width: 500px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin-bottom: 45px;
    /* margin-left: 10px; */
}

.post_image{
    width: 100%;
    object-fit: contain;

}
.post_text{
    font-weight: normal;
    padding: 10px;
    margin-left: 10px;
    
}
.post_header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.post_avatar{
    margin-right: 10px;
}

.post_commentBox{
    display: flex;
    margin-top: 10px;
}

.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 3px;
    border-top: 1px solid lightgray;
    
}

.post_button{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}

.post_Comments{
    padding: 20px;
}

