* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
span{
    color: #FDCB6E;
}
