.brand-gradient{
    background: #0091ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0091ff, #32cd4c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0091ff, #32cd4c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.banner-holder, .main-page-header{
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: bottom;
}
.custom-nav{
    backdrop-filter: blur(8px);
}