* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Styling the first parallax's
height, width and background color */
.parallax-1 {
  width: 100%;
  height: 100vh;
  background: url(img/landing.jpeg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

/* Styling the title of first parallax */
.parallax-1 h2 {
  margin: auto;
  position: relative;
  left: 500x;
  top: 300px;
  width: 250px;
  height: 32px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Styling the second parallax's
height, width and background color */
.parallax-2 {
  width: 100%;
  height: 600px;
  background: url(img/legendOnVK.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  /* opacity: 0.9; */
}

/* Styling the title of second parallax */
.parallax-2 h2 {
  margin: auto;
  position: relative;
  left: 500x;
  top: 500px;
  width: 250px;
  height: 37px;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: Verdana;
}

/* Styling the content or paragraph */
.para-1 {
  padding: 50px;
  background-color: black;
  color: white;
  font-size: 17px;
  text-align: center;
}

/* Styling the content or paragraph */
.para-2 {
  text-align: center;
  padding: 25px;
  font-size: 17px;
  font-family: Verdana;
  background-color: black;
  color: white;
}

/* styling for quote */

.ptext {
  padding-left: 10%;
  padding-right: 10%;
}

.leg-quote {
  font-family: "Merienda One", cursive;
  font-size: 27px;
  text-align: justify;
  font-weight: bolder;
  color: turquoise;
}
.legends {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  text-align: right;
  color: red;
  margin-bottom: 5vh;
}

/* Styling the second parallax's
height, width and background color */
.parallax-3 {
  width: 100%;
  height: 100vh;
  background: url(img/run.jpg);
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* opacity: 0.9; */
}

/* Styling the title of second parallax */
.parallax-3 h2 {
  font-family: Verdana;
  margin: auto;
  position: relative;
  left: 500x;
  top: 400px;
  width: 250px;
  height: 37px;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: Verdana;
}

table {
  font-family: Verdana;
  text-align: center;
  width: 300px;
}

.t20 table,
.ODI table,
.Test table {
  font-family: Verdana;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5vh;
}
.t20 h1,
.ODI h1,
.Test h1 {
  font-family: Verdana;
  margin-left: 50%;
  margin-right: 50%;
}

/* Styling the first parallax's
height, width and background color */
.parallax-4 {
  width: 100%;
  height: 100vh;
  background: url(img/awards-achievement.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.awards img {
  background-color: whitesmoke;
  position: relative;
}

#abc {
  margin-left: 5%;
}
