/* Front page  */
body {
  padding: 0;
  margin: 0;
}

.front {
  padding: 0;
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-decoration: none;
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

h1 span {
  transition: 1s linear;
}
h1:hover span:nth-child(1) {
  margin-right: 10px;
}
h1:hover span:nth-child(1):after {
  content: "THE RUN MACHINE";
  transition-delay: 0.2s;
  font-size: 60px;
  color: #85231a;
}
h1:hover span:nth-child(2) {
  margin-left: 10px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

/* parallax */
.land {
  background-image: url("M:\codes\webathon\img\HD-wallpaper-virat-kohli-cricket-king-king-kohli.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
}
