*{
    padding: 0;
    margin: 0;
}
header{
    margin-bottom:50px;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: #010225;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 30px -12px rgb(255, 208, 0);
    }
    50%{
        box-shadow: 0px 0px 30px 3px rgba(255, 209, 2, 0.5);
    }
}
.inner{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background-color: #140337;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.text{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.btns{
    display: flex;
    justify-content: space-between;
    width:250px;
    margin-top: 30px;
}

button{
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    border: 1px solid white;
    background-color: #040338;
    color: rgb(237, 10, 10);
    font-size: 18px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(17, 2, 83);
    color: whitesmoke;
    cursor:pointer;
    box-shadow: 0px 0px 40px -8px #F6B400;
 
}