body {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
}

input[type=text] {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.5s ease;
}

.active,
input[type=text]:focus-visible {
  width: 200px !important;
  border: 2px solid #888 !important;
}

form {
  position: relative;
  display: flex;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #ddd;
}

button:focus {
  outline: none;
  border: 2px solid #888;
}

/* responsive improvement */
@media (max-width: 480px) {
  .active {
    width: 150px !important;
  }
}
