body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Exo', sans-serif;
	background: linear-gradient(45deg, #24006b, #f42f8c );
}

/*membuat grid*/
.container {
	width: 1200px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-gap: 15px;
	margin: 0 auto;
}

/*untuk card*/
.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 15px 60px rgba(0,0,0,.5);
}

/*content card*/
.container .card .face {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card .face.face1 {
	box-sizing: border-box;
	padding: 20px;
}

.container .card .face.face1 h2 {
	margin: 0;
	padding: 0;
}

.container .card .face.face2 {
	background: #111;  
	transition: 0.5s;
}

.container .card:nth-child(1) .face.face2{
	background: linear-gradient(25deg, #3503ad, #f7308c);
}
.container .card:nth-child(2) .face.face2{
	background: linear-gradient(25deg, #ccff00, #09afff);
}
.container .card:nth-child(3) .face.face2{
	background: linear-gradient(25deg, #e91e63, #ffeb3b);
}

.container .card:hover .face.face2 {
	height: 60px;
}

.container .card .face.face2:before{
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 50%;
	  height: 100%;
	  background: rgba(255, 255, 255, .1 );
}

.container .card .face.face2 h2 {
	  margin: 0;
	  padding: 0;
	  /*font-size: 10em;*/
	  color: #fff;
	  transition: 0.5s;
	  text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.container .card:hover .face.face2 h2{
	font-size: 2em; 
}

.button {
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	bottom: 20px;
}

.button {
	padding: 0px 50px 0px 50px ;
	background: white;
	border: solid 2px black;
	border-radius: 5%;
}

.button:hover {
	color: white;
	background: rgba(255, 255, 255, .1 );
	cursor: pointer;
}