* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgb(51, 3, 244),rgb(186, 14, 103));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 160px;
    width: auto;
    max-width: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  #display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */
.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #efa7ac;
    color: #f5212f;
}

.calculator button.btn-number {
    background-color: #89dfdf;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #e099da;
    color: #81077c;
  }
  
  .calculator button.btn-equal {
    background-color: #75db7c;
    color: #000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #5b2f3a;
    color: #c3464f;
  }

  .calculator.dark button.btn-number {
    background-color: #314955;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #462e56;
    color: #b60bb0;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #355337;
    color: #ffffff;
  }
  