<footer class="footer bg-dark pt-4 mt-5">
    <div class="container text-muted">
        <p>
            &copy; Camply<sup> IN</sup> 2022
            <br>
            <small>A
                <a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">
                    Web Developer Bootcamp</a>
                project by
                <a href="https://www.udemy.com/user/coltsteele/" target="_blank">
                    Colt Steele</a>.
                This clone was built by
                <a href="https://github.com/Bikaskumar572" target="_blank">
                    Bikas Kumar Behera</a> on july - August 2022.
                Most photos are from
                <a href="https://unsplash.com/collections/483251/in-the-woods" target="_blank">Unsplash</a>.
            </small>
        </p>
    </div>
</footer>