/*Navigatiion starts*/
.navbar-brand, .nav-link {
  color: #e74c3c !important;
}
.navbar-default {
  background-color: white !important;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-toggler .navbar-brand {
  color: #e74c3c !important;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-toggler .navbar-brand:hover,
.navbar-default .navbar-toggler .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-toggler .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: white;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: white;
}
@media (min-width: 768px) {
	.form-group{
		text-align: center;
	}
  .no-image{
    display: none;
  }
  .navbar-default {
    background-color: white !important;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-toggler .navbar-brand {
    color: #F05F40;
  }
  .navbar-default .navbar-toggler .navbar-brand:hover,
  .navbar-default .navbar-toggler .navbar-brand:focus {
    color: #F05F40;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-toggler .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-toggler .navbar-brand:hover,
  .navbar-default.affix .navbar-toggler .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

/*drop shadow*/
nav{
-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
font-family: 'Roboto', sans-serif;
font-weight: 600;
}
/*navigation ends*/

body{
	background-color: #ecf0f1;
  width: 100%;
  overflow-x: hidden;
}
.white-bar{
	height: 3px;
	width: 50%;
	color: white;
	background-color: white;
}
.red-bar{
  height: 3px;
  width: 50%;
  color: #e74c3c;
  background-color: #e74c3c;
}

.pera-text{
	color: white;
	font-size: 16px;
}
.red-background{
	background-color: #e74c3c;
	min-height: 460px;
	height: auto;
	padding: 10px
}
.header-img{
	 
   background: url(../img/header.png) no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: auto;
    min-height: 460px;
    padding: 10px;
    color: white;
    font-weight: 700;
}
.header-img p{
  font-weight: 100;
  font-size: 18px;
}
.form-group{
	padding-right: 20px;
}
.header{
  margin: 0;
	padding: 20px 0;
}
.red-background p{
	padding: 40px;
}
.btn-danger{
	background-color: #e74c3c;
	border-radius: 25px;
	padding: 10px 30px;
	font-size: 22px;
	font-weight: 700;
}
.red{
	color: #e74c3c;
}
.btn-default{
	color: #e74c3c;;
	border-radius: 25px;
	padding: 10px 30px;
	font-size: 22px;
	font-weight: 700;
  background-color:#fff;
}

.btn-default:hover{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.center-aligned{
	display: table;
	margin: 0 auto;
}
.margin10px{
	margin: 10px;
}

.aboutus{
  padding: 40px 0 20px 0;
  margin: 0 auto;
  display: table;

}
.card {
  width: 350px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px; 

}
.card h3,img{
  padding-bottom: 20px;
  align-self: center;
}
.contactus{
  padding: 20px;
  background-color: #2c3e50;

}


.contactus h1{
  color: white;
}
.contactus hr{
  width: 25% !important;
}
.contactus p{
  color: white;
}
.glyphicon{
  color:white;
  font-size: 22px;
  margin-right: 10px;
}
.fa{
  font-size: 32px !important;
  margin-right: 20px;
}
.details{
  font-size: 22px;
  padding: 20px;
  font-weight: 400px;

}
.details .fa{
  margin-left: 10px;
  margin-right: 5px;
}

.white{
    background-color: white;
  }

  